<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>448403945916-c12mo20fiug0ojt1ks4av0vkroqfluq3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.448403945916-c12mo20fiug0ojt1ks4av0vkroqfluq3</string>
	<key>API_KEY</key>
	<string>AIzaSyB_H1f7mr1Rwv0wGOxFTErpK52cTaSeguM</string>
	<key>GCM_SENDER_ID</key>
	<string>448403945916</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.holisticlifestyle.com.HolisticLifestyle</string>
	<key>PROJECT_ID</key>
	<string>holistic-91af8</string>
	<key>STORAGE_BUCKET</key>
	<string>holistic-91af8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:448403945916:ios:2c08bfd0dd482a123a13b9</string>
</dict>
</plist>