<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>285986607267-d7d3njc93q1iqpp1t9t0f6au329qo7es.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.285986607267-d7d3njc93q1iqpp1t9t0f6au329qo7es</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>285986607267-6j735gjgqajvh1ahjbvs5qitgrm6lf5l.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBirHu41iRHYHeQhwZGel1jKbadR9dLOH8</string>
	<key>GCM_SENDER_ID</key>
	<string>285986607267</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.holisticlifestyle.com.HolisticLifestyle</string>
	<key>PROJECT_ID</key>
	<string>holistic-global</string>
	<key>STORAGE_BUCKET</key>
	<string>holistic-global.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:285986607267:ios:d392818e7501531c552f16</string>
</dict>
</plist>